@import "vars";
@import "libs";
@import "fonts";

body {
  font-family: 'Poppins';
  background: linear-gradient(180deg, rgba(102, 36, 122, 0.08) 0%, rgba(102, 36, 122, 0) 100%);
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 1110px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  overflow: hidden;

  .container {
    padding-top: 33px;
    position: relative;
  }

  .top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #F3EEF5;
    z-index: 1;
    box-sizing: border-box;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1110px;
      margin: 0 auto;
      padding: 33px 0;
      box-sizing: border-box;
    }

    .nav {
      margin-right: 80px;

      &__list {
        display: flex;
        align-items: center;
      }

      &__item {
        margin-right: 50px;
        border-bottom: 1px solid transparent;
        transition: all .3s ease-in-out;

        &:hover {
          border-bottom-color: #19214d;
        }

        &::last-child {
          margin-right: 0;
        }
      }

      &__link {
        text-decoration: none;
        color: #19214d;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;

        span {
          font-size: 6px;
          margin-left: 6px;
        }
      }
    }

    .media-btn {
      display: none;
      width: 40px;
      height: 30px;
      position: relative;
      box-shadow: 0px 6px 14px rgba(102, 36, 122, 0.08);
      color: #19214d;
      border: 2px solid #A5A9CC;
      border-radius: 4px;

      span {
        position: absolute;
        height: 2px;
        width: 30px;
        top: 14px;
        left: 50%;
        transform: translateX(-50%);
        background: #19214d;
        transition: all .3s ease-in-out;
      }

      span::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 30px;
        top: 7px;
        left: 50%;
        transform: translateX(-50%);
        background: #19214d;
        transition: all .3s ease-in-out;
      }

      span::before {
        content: '';
        position: absolute;
        height: 2px;
        width: 30px;
        top: -7px;
        left: 50%;
        transform: translateX(-50%);
        background: #19214d;
        transition: all .3s ease-in-out;
      }

      &__close {
        span {
          transform: translateX(-50%) rotate(45deg);
        }

        span::after {
          top: 0;
        }

        span::before {
          top: 0;
          transform: translateX(-50%) rotate(-90deg);
        }
      }
    }

    .button {
      display: flex;
      align-items: center;

      &__login {
        margin-right: 16px;
      }

      &__link {
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        padding: 11px 30px;
        border: 1px solid #66247a;
        border-radius: 4px;
        background: #66247a;
        transition: all .3s ease-in-out;
        color: #ffffff;

        &:hover {
          box-shadow: 0px 6px 14px rgba(102, 36, 122, 0.08);
          color: #19214d;
          border-color: #A5A9CC;
          background: transparent;
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .app {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;

    &__left {
      margin-top: 100px;
    }

    &__title {
      font-size: 52px;
      line-height: 68px;
      font-weight: 600;
      letter-spacing: 2%;
      color: #19214d;
      margin-bottom: 40px;
    }

    .btn-get__link {
      display: inline-block;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      padding: 18px 77px;
      border: 1px solid #66247a;
      border-radius: 4px;
      background: #66247a;
      transition: all .3s ease-in-out;
      color: #ffffff;
      margin-bottom: 80px;

      &:hover {
        box-shadow: 0px 6px 14px rgba(102, 36, 122, 0.08);
        color: #19214d;
        border-color: #A5A9CC;
        background: transparent;
      }
    }

    &__subtitle {
      font-size: 14px;
      color: #6a6f96;
      letter-spacing: 2%;
      margin-bottom: 30px;
    }

    .download {
      display: flex;
      align-items: center;

      &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 13px 54px 13px 38px;

        .icon-apple {
          font-size: 22px;
        }

        .icon-google-play {
          font-size: 18px;
        }
      }

      &__text {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-weight: 700;
        margin-left: 10px;

        span.download__size {
          font-size: 12px;
          font-weight: 400;
          margin-right: 10px;
          margin-bottom: 3px;
        }
      }

      &__apple {
        border: 1px solid #66247A;
        border-radius: 4px;
        box-shadow: 0px 6px 14px rgba(44, 59, 139, 0.08);
        margin-right: 16px;
        transition: all .3s ease-in-out;

        a {
          color: #66247a;
        }

        &:hover {
          background: #66247a;

          .icon-apple::before {
            color: #ffffff;
          }

          & a {
            color: #ffffff;
          }
        }
      }

      &__google {
        border: 1px solid #2C3B8B;
        border-radius: 4px;
        box-shadow: 0px 6px 14px rgba(44, 59, 139, 0.08);
        transition: all .3s ease-in-out;

        a {
          color: #2c3b8b;
        }

        &:hover {
          background: #2c3b8b;

          .icon-google-play::before {
            color: #ffffff;
          }

          & a {
            color: #ffffff;
          }
        }
      }
    }
  }

  .item-1 {
    position: absolute;
    top: 125px;
    left: 665px;
    width: 22px;
  }

  .item-2 {
    position: absolute;
    top: 242px;
    left: 1180px;
    width: 13px;
  }

  .item-3 {
    position: absolute;
    top: 306px;
    left: 535px;
    width: 13px;
  }

  .item-4 {
    position: absolute;
    top: 464px;
    left: 360px;
    width: 13px;
  }

  .item-5 {
    position: absolute;
    top: 464px;
    left: 1100px;
    width: 22px;
  }

  .item-6 {
    position: absolute;
    top: 505px;
    left: 500px;
    width: 22px;
  }

  .item-7 {
    position: absolute;
    top: 642px;
    left: 620px;
    width: 13px;
  }

  .item-8 {
    position: absolute;
    top: 685px;
    left: 1030px;
    width: 13px;
  }
}

.main {
  position: relative;
}

.sponsors {
  margin-top: 110px;

  .container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 247px;
    height: 121px;
    border: 1px solid #19214D;
    box-sizing: border-box;
    border-radius: 24px;
    transition: all .2s ease-in-out;
    box-shadow: 0px 6px 14px rgba(102, 36, 122, 0.08);
    cursor: pointer;

    &:hover {
      background: #66247A;
      border-color: #66247a;

      .hover {
        display: block;
      }

      .sponsors__img {
        display: none;
      }
    }
  }

  &__img {
    display: block;
    max-height: 55px;
  }

  .hover {
    display: none;
    font-size: 16px;
    color: #ffffff;
    line-height: 29px;
    text-decoration: none;

    &__arrow {
      display: flex;
      justify-content: center;
      margin-top: 5px;
    }
  }
}

.stats {
  padding-bottom: 232px;

  &__title {
    font-size: 46px;
    line-height: 55px;
    letter-spacing: 2%;
    font-weight: 700;
    color: #19214d;
    text-align: center;
    margin-bottom: 150px;
    margin-top: 140px;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-self: stretch;

    &__block {
      position: relative;
      padding: 140px 88px 71px 88px;
      border: 1px solid #E4E3EB;
      box-sizing: border-box;
      border-radius: 24px;
    }

    &__number {
      font-size: 36px;
      line-height: 43px;
      letter-spacing: 2%;
      font-weight: 700;
      color: #19214d;
      text-align: center;
      margin-bottom: 11px;
    }

    &__name {
      font-size: 14px;
      line-height: 25px;
      text-align: center;
      color: #6a7197;
    }

    &__icon {
      position: absolute;
      top: -76px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 152px;
      height: 152px;
      background: #FFFFFF;
      box-shadow: 0px 6px 30px rgba(44, 59, 139, 0.1);
      border-radius: 50%;

      span.icon-payments {
        font-size: 62px;
      }

      span.icon-wallet {
        font-size: 88px;
      }

      span.icon-sent {
        font-size: 70px;
      }
    }
  }
}

.join {
  position: absolute;
  left: 50%;
  bottom: -151.5px;
  transform: translateX(-50%);

  .container {
    padding: 48px 195px;
    background: #FFFFFF;
    box-shadow: 0px 6px 30px rgba(44, 59, 139, 0.1);
    border-radius: 24px;
    box-sizing: border-box;
    text-align: center;
  }

  &__title {
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 2%;
    color: #19214d;
    font-weight: 700;
    margin-bottom: 13px;
  }

  &__form {
    position: relative;
    margin: 27px 0 16px 0;

    input {
      width: 100%;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 2%;
      padding: 25px 170px 19px 30px;
      color: #b4adce;
      box-sizing: border-box;
      outline: none;
      border: 1px solid #E4E5EC;
      border-radius: 4px;

      &::placeholder {
        color: #b4adce;
      }
    }

    button {
      position: absolute;
      top: 50%;
      right: 9px;
      transform: translateY(-50%);
      font-size: 14px;
      color: #ffffff;
      font-weight: 500;
      padding: 17px 42px;
      background: #66247A;
      box-shadow: 0px 6px 14px rgba(102, 36, 122, 0.08);
      border-radius: 4px;
      border: 1px solid transparent;
      cursor: pointer;
      transition: all .3s ease-in-out;
      font-family: 'Poppins';

      &:hover {
        color: #19214d;
        border-color: #66247A;
        background: transparent;
      }
    }
  }

  &__subtitle {
    font-size: 14px;
    line-height: 25px;
    color: #6a7197;
  }

  &__text {
    font-size: 12px;
    line-height: 17px;
    color: #6a7197;
  }
}

.footer {
  background: #ffffff;
  padding-top: 213px;
  padding-bottom: 45px;

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    font-size: 12px;
    line-height: 22px;
    color: #6a7197;
    margin-top: 13px;
  }

  .social {
    display: flex;
    align-items: center;
    margin-top: 21px;
    margin-bottom: 29px;

    &__block {
      width: 40px;
      height: 40px;
      border: 1px solid #E8E9ED;
      box-sizing: border-box;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      text-decoration: none;
      transition: all .3s ease-in-out;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background: #66247a;
        border-color: #66247a;

        span::before {
          color: #ffffff;
        }
      }
    }
  }

  &__line {
    height: 1px;
    width: 228px;
    background: #e8e9ed;
    margin-bottom: 24px;
  }

  .up {
    display: flex;
    align-items: center;

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 46px;
      height: 46px;
      background: #FBF5FC;
      border: 1px solid #C2A7CA;
      box-sizing: border-box;
      border-radius: 50%;
      margin-right: 13px;
      transition: all .3s ease-in-out;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        background: #66247a;
        border-color: #66247a;

        span::before {
          color: #ffffff;
        }
      }

      span {
        font-size: 8px;
      }
    }

    &__text {
      font-size: 12px;
      line-height: 22px;
      color: #19214d;
    }
  }

  .navigation {
    display: flex;

    &__block {
      margin-right: 70px;
    }

    &__title {
      font-size: 12px;
      line-height: 17px;
      color: #6a7197;
      margin-bottom: 32px;
    }

    .nav {
      &__item {
        margin-bottom: 32px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__link {
        text-decoration: none;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 2%;
        font-weight: 700;
        color: #19214d;
        border-bottom: 1px solid transparent;
        transition: all .3s ease-in-out;

        &:hover {
          border-bottom-color: #19214d;
        }
      }
    }
  }

  &__btns {
    .btn-get {
      &__link {
        display: inline-block;
        width: 195px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        padding: 18px 0;
        border: 1px solid #66247a;
        border-radius: 4px;
        background: #66247a;
        transition: all .3s ease-in-out;
        color: #ffffff;
        box-sizing: border-box;
        margin-bottom: 30px;

        &:hover {
          box-shadow: 0px 6px 14px rgba(102, 36, 122, 0.08);
          color: #19214d;
          border-color: #A5A9CC;
          background: transparent;
        }
      }
    }

    .download__link {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      padding: 13px 0;
      width: 195px;
      box-sizing: border-box;

      .icon-apple {
        font-size: 22px;
      }

      .icon-google-play {
        font-size: 18px;
      }
    }

    .download__text {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      font-weight: 700;
      margin-left: 10px;

      span.download__size {
        font-size: 12px;
        font-weight: 400;
        margin-right: 10px;
        margin-bottom: 3px;
      }
    }

    .download__apple {
      border: 1px solid #66247A;
      border-radius: 4px;
      box-shadow: 0px 6px 14px rgba(44, 59, 139, 0.08);
      transition: all .3s ease-in-out;
      margin-bottom: 16px;

      a {
        color: #66247a;
      }

      &:hover {
        background: #66247a;

        .icon-apple::before {
          color: #ffffff;
        }

        & a {
          color: #ffffff;
        }
      }
    }

    .download__google {
      border: 1px solid #2C3B8B;
      border-radius: 4px;
      box-shadow: 0px 6px 14px rgba(44, 59, 139, 0.08);
      transition: all .3s ease-in-out;

      a {
        color: #2c3b8b;
      }

      &:hover {
        background: #2c3b8b;

        .icon-google-play::before {
          color: #ffffff;
        }

        & a {
          color: #ffffff;
        }
      }
    }
  }
}

@import "media";