*
	margin: 0
	box-sizing: border-box
	font-family: 'MS-500'

header
	background-image: url('../../img/bg.jpg')
	background-position: 50% 50%
	background-size: cover
	height: 100vh
	margin-bottom: 1000px
	position: relative
	.header_nav
		position: fixed
		top: 0
		width: 100%
		background: rgba(0, 0, 0, 0.4)
		border-bottom: 2px solid #ccc
		z-index: 999
		.wrapper
			width: 95%
			margin: 0 auto
			display: flex
			justify-content: space-between
			align-items: center
			padding: 20px 0
			.logo
				transition: .5s
				a
					font-family: 'MS-500'
					color: #ffffff
					text-decoration: none
				&:hover
					transform: scale(1.1)
					transition: .5s
			.nav
				nav
					ul
						list-style-type: none
						display: flex
					li
						margin: 0 20px
						&:last-of-type
							margin-right: 0
						// a
						// 	text-decoration: none
						// 	color: #ffffff
						// a
						// 	display: inline-block
						// 	color:#ffeb3b
						// 	line-height: 1
						// 	text-decoration:none
						// 	cursor: pointer
						// 	position:relative
						// 	&::after
						// 			background-color: #ffeb3b
						// 			display: block
						// 			content: ""
						// 			height: 2px
						// 			width: 0%
						// 			left: 50%
						// 			position:absolut
						// 			-webkit-transition: width .3s ease-in-out
						// 			-moz--transition: width .3s ease-in-out
						// 			transition: width .3s ease-in-out
						// 			-webkit-transform:translateX(-50%)
						// 			-moz-transform:translateX(-50%)
						// 			transform:translateX(-50%)
						// 	&:hover:after,
						// 	&:focus:after
						// 				width: 100%
	.header_title
		width: 100%
		color: #fff
		position: absolute
		top: 40%
		left: 50%
		transform: translateX(-50%)
		text-align: center
		h1
			text-transform: uppercase
			font-family: $msSB
			font-size: 72px
			-webkit-text-stroke: 3px #000
			letter-spacing: 0.075em
		.line
			width: 175px
			height: 1px
			background: #ffffff
			margin: 20px auto 30px auto
		p
			font-size: 18px
			letter-spacing: 0.075em
	.arrow-down
		a
			i
				color: #ffffff
				font-size: 40px
				position: absolute
				bottom: 10%
				left: 50%
				transform: translateX(-50%)
				opacity: .5
				transition: .5s
				&:hover
					opacity: 1
					transition: .5s
