@font-face {
  font-family: 'Gotham Pro';
  src: url(../fonts/GothamPro-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url(../fonts/GothamPro.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url(../fonts/GothamPro-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url(../fonts/GothamPro-Bold.ttf);
  font-weight: 700;
}