<!-- footer -->
footer.footer
	.foot-top
		.foot-col
			strong Энциклопедия
			ul              
				li
					a(href="#") Беременность, планирование беременности
				li
					a(href="#") Роды
				li
					a(href="#") Видео беременности и родов
				li
					a(href="#") Я - женщина
				li
					a(href="#") Психология семьи
				li
					a(href="#") Хобби и увлечения
				li
					a(href="#") Правовые вопросы
				li
					a(href="#") Видео беременности и родов
			ul
				li
					a(href="#") Ребенок до года
				li
					a(href="#") Ребенок от года до трех
				li
					a(href="#") Ребенок от трех до шести
				li
					a(href="#") Ребенок-школьник
				li
					a(href="#") Здоровье ребенка
				li
					a(href="#") Все, что окружает ребенка
				li
					a(href="#") Новости со всего света
		.foot-col
			strong Общение
			ul
				li
					a(href="#") Сообщества
				li
					a(href="#") Блоги
				li
					a(href="#") Конкурсы
				li
					a(href="#") Рассказы о родах
				li
					a(href="#") Наши призеры
				li
					a(href="#") Фото
				li
					a(href="#") Видео
		.foot-col
			strong Сервисы
			ul
				li
					a(href="#") Дневнечки
				li
					a(href="#") Информеры беременности ребенка
				li
					a(href="#") Линеечки
				li
					a(href="#") Расчет пособий
				li
					a(href="#") Подбор имени
				li
					a(href="#") Роддома
		.foot-col
			strong О CafeMam
			ul
				li
					a(href="#") Регистрация
				li
					a(href="#") О сайте
				li
					a(href="#") Техподдержка
				li
					a(href="#") Написать администрации
				li
					a(href="#") Рекламодателям
	.foot-btm
		.foot-col.foot-lft
			a(href="#").logo
				<img src="img/logo.png" alt="LOADING">
			p CafeMam - социальная сеть для мам и их малышей:<br>беременность, планирование беременности, дневники ребенка
		.foot-col.foot-rht
			p 2009-2018. Все права защищены.<br>Копирование и публикация без согласия администрации - запрещено
			a(href="#" class="go-top")
<!--/ footer -->