.gallery
  h2 Галлерея
  .gallery__content
    .gallery-slaider
      .main-slaider
        .main-slaider-block
          .main-slaider-top
            p Отдых на море в августе
            .main-slaider-top__calendar
              img(src='img/calendar-icon.png')
              span 15.01.19
          .main-slaider-center-block
            img(src='img/slaider-photo.png')
        .main-slaider-block
          .main-slaider-top
            p Отдых на море в августе
            .main-slaider-top__calendar
              img(src='img/calendar-icon.png')
              span 15.01.19
          .main-slaider-center-block
            img(src='img/slaider-photo.png')
        .main-slaider-block
          .main-slaider-top
            p Отдых на море в августе
            .main-slaider-top__calendar
              img(src='img/calendar-icon.png')
              span 15.01.19
          .main-slaider-center-block
            img(src='img/slaider-photo.png')
        .main-slaider-block
          .main-slaider-top
            p Отдых на море в августе
            .main-slaider-top__calendar
              img(src='img/calendar-icon.png')
              span 15.01.19
          .main-slaider-center-block
            img(src='img/slaider-photo.png')
        .main-slaider-block
          .main-slaider-top
            p Отдых на море в августе
            .main-slaider-top__calendar
              img(src='img/calendar-icon.png')
              span 15.01.19
          .main-slaider-center-block
            img(src='img/slaider-photo.png')
        .main-slaider-block
          .main-slaider-top
            p Отдых на море в августе
            .main-slaider-top__calendar
              img(src='img/calendar-icon.png')
              span 15.01.19
          .main-slaider-center-block
            img(src='img/slaider-photo.png')
      .main-slaider-beetwen
        .main-slaider-beetwen-info-links
          .info-links-comment
            img(src='img/slaider-comment.png')
            a(href='') Комментарии(25)
          .info-links-like
            .info-links-like-heart
            a(href='') Нравиться(137)
          .info-links-mark
            .info-links-mark-star
              ul.rating
                li
                  span.star-1
                li
                  span.star-2
                li
                  span.star-3
                li.current
                  span.star-4
                li
                  span.star-5
            a(href='') Оценили(72)
          .info-links-add
            a.one(href='')
              img.one(src='img/slaider-star.png')
              |В избранное
            a.add(href='')
              img(src='img/slaider-like.png')
              |Добавить в подруги
        .main-slaider-beetwen-hashtag
          a(href='') #
          a(href='') Море
          a(href='') Отдых
          a(href='') Пляж
          a(href='') День Рождения
          a(href='') Побережье
          a(href='') Отпуск
          a(href='') Выходные
          a(href='') Праздник
      .main-slaider-nav
        .main-slaider-nav-block
          img(src='img/slaider-photo.png')
        .main-slaider-nav-block
          img(src='img/slaider-photo.png')
        .main-slaider-nav-block
          img(src='img/slaider-photo.png')
        .main-slaider-nav-block
          img(src='img/slaider-photo.png')
        .main-slaider-nav-block
          img(src='img/slaider-photo.png')
        .main-slaider-nav-block
          img(src='img/slaider-photo.png')
        .main-slaider-nav-block
          img(src='img/slaider-photo.png')
      .main-slaider-button
        a(href='') Добавить в альбом фото
    .gallery-comments
      h3 Комментарии
      .gallery-comments__block
        .block-title
          img.block-title-photo(src="img/comment-photo.png")
          .block-title__name
            h4 Татьяна Бикитеева
            p Ульяновск
          .block-title-link
            a(href="") В друзья
          .block-title-date
            span
              | 31 мая 2018 в 15:17
              img.block-title-like(src="img/comment-like.png")
              | 12
        .block-text Я читала книгу Татьяны Аптулаевой «Я мама первый год», взяла на удачу с полки первую симпатичную розовую книжку и не пожалела, очень нравится, читала ее еще беременной, сейчас нам 11 мес и я все это время к ней обращалась, много нового для себя узнала, во многом с автором интуитивно согласна.
        .block-feedback
          img(src="img/comment-quote.png")
          a.block-feedback-link(href="") Ответить

      .gallery-comments__block.gallery-comments__with-comments
        .block-title
          img.block-title-photo(src="img/comment-photo.png")
          .block-title__name
            h4 Татьяна Бикитеева
            p Ульяновск
          .block-title-link
            a(href="") В друзья
          .block-title-date
            span
              | 31 мая 2018 в 15:17
              img.block-title-like(src="img/comment-like-transparent.png")
              | 12
        .block-text Я читала книгу Татьяны Аптулаевой «Я мама первый год», взяла на удачу с полки первую симпатичную розовую книжку и не пожалела, очень нравится, читала ее еще беременной, сейчас нам 11 мес и я все это время к ней обращалась, много нового для себя узнала, во многом с автором интуитивно согласна.
        .block-feedback
          img(src="img/comment-quote.png")
          a.block-feedback-link(href="") Ответить
        .feedback-comments.one-block
          .underline
          .block-title
            img.block-title-photo(src="img/comment-photo-one.png")
            .block-title__name
              h4 Марина Полякова
              p Париж
            .block-title-link
              a(href="") В друзья
            .block-title-date
              span
                | 31 мая 2018 в 15:17
                img.block-title-like(src="img/comment-like.png")
                | 12
          .block-text
            a(href='') Татьяна,
            |  Казахстан, Алматы. Теперь заболел муж, ангина гнойная, и свекровь. Блиииин я у не могууууу. Ходят по дому теперь бацилы распространяют, как их всех изолировать ?! Меня все это бесит ужасно! Я ведь говорила полощите горло, полощите чаще, когда ребенок болел! Но нет, зачем?!
          .block-feedback
            img(src="img/comment-quote.png")
            a.block-feedback-link(href="") Ответить
        .feedback-comments.two-block
          .underline
          .block-title
            img.block-title-photo(src="img/comment-photo-two.png")
            .block-title__name
              h4 Марина Полякова
              p Париж
            .block-title-link
              a(href="") В друзья
            .block-title-date
              span
                | 31 мая 2018 в 15:17
                img.block-title-like(src="img/comment-like-transparent.png")
                | 12
          .block-text
            a(href='') Татьяна,
            |  Казахстан, Здравствуйте. Моему сыночку Степашке недавно исполнилось 2 годика.И конечно же мы очень любим всякие вкусняшки, а если они еще и полезны, то вдвойне хорошо.К таким вкусняшкам я отношу творожок Агуша.Мы его кушаем давно и с удовольствием
          .block-feedback
            img(src="img/comment-quote.png")
            a.block-feedback-link(href="") Ответить
          .underline
        .feedback-input
          textarea(placeholder='Текст для вашего комментария...')
          .feedback-input__block-img
            .feedback-input-icon-img
              img(src='img/feedback-input-icon-img.png')
            .feedback-input-icon-smile
              img(src='img/feedback-input-icon-smile.png')
        .feedback-button
          button(type='submit') Ответить
        .feedback-comments.three-block
          .underline
          .block-title
            img.block-title-photo(src="img/comment-photo-two.png")
            .block-title__name
              h4 Марина Полякова
              p Париж
            .block-title-link
              a(href="") В друзья
            .block-title-date
              span
                | 31 мая 2018 в 15:17
                img.block-title-like(src="img/comment-like-transparent.png")
                | 12
          .block-text
            a(href='') Татьяна,
            |  Казахстан, Здравствуйте. Моему сыночку Степашке недавно исполнилось 2 годика.И конечно же мы очень любим всякие вкусняшки, а если они еще и полезны, то вдвойне хорошо.К таким вкусняшкам я отношу творожок Агуша.Мы его кушаем давно и с удовольствием
          .block-photo
            img(src='img/comment-three-block-1.png')
            img(src='img/comment-three-block-2.png')
            img(src='img/comment-three-block-3.png')
            .block-photo__last
              img(src='img/comment-three-block-4.png')
              a(href="")
                |+2
                br
                |фото
          .block-feedback
            img(src="img/comment-quote.png")
            a.block-feedback-link(href="") Ответить
      include ./pagination.jade
      .gallery-comments__your-comments
        h3 Ваш комментарий
        .feedback-input
          textarea(placeholder='Текст для вашего комментария...')
        .feedback-button
          a(href='') Добавить комментарий
    .gallery-photo-slaider
      h2 Похожие фото
      .my-slider
        .my-slider-one
          a(href='')
            img(src='img/gallery-photo-slaider.png')
            p Татьяна Бикитеева
        .my-slider-one
          a(href='')
            img(src='img/gallery-photo-slaider.png')
            p Татьяна Бикитеева
        .my-slider-one
          a(href='')
            img(src='img/gallery-photo-slaider.png')
            p Татьяна Бикитеева
        .my-slider-one
          a(href='')
            img(src='img/gallery-photo-slaider.png')
            p Татьяна Бикитеева
        .my-slider-one
          a(href='')
            img(src='img/gallery-photo-slaider.png')
            p Татьяна Бикитеева
        .my-slider-one
          a(href='')
            img(src='img/gallery-photo-slaider.png')
            p Татьяна Бикитеева
    .gallery-info
      .left-block
        .line.left-block-info
          a.lineea(href='') Линеечки
          p Помогут отсчитывать дни до родов или следить за возрастом своего малыша.
          a.link-lineea(href='') Сделать линеечку
          img.lineea(src='img/gallery-info-bg-1.png')
        .calculations.left-block-info
          a.calculation(href='') Посчитать выплаты в расчетах
          p Посчитайте и спланируйте денежные средства, положены от государства..
          a.link-calculation(href='') Посчитать
          img.calculation(src='img/gallery-info-bg-2.png')
        .customer-feedback.left-block-info
          a.customer(href='') Поделиться роддомом
          p Поделитесь контактами роддома после которого вы остались довольны
          a.link-customer-feedback(href='') Отзывы
          img.customer(src='img/gallery-info-bg-3.png')
        .select-name.left-block-info
          a.select(href='') Подбор имени
          p Можно выбрать имя ребенку по любому из критериев или их сочетанию.
          a.link-select-name(href='') Выбрать имя
          img.select(src='img/gallery-info-bg-4.png')
      .right-block
        h2 Поделитесь фотографиями
        p Поделитесь вашими впечатлениями и эмоциями с другими мамами, пусть за вас порадуются другие
        a(href='') Загрузить фото
    .gallery-info-text
      include ./seo-text.jade
      .gallery-info-text__button
        a(href='') Посмотреть еще