<!-- header -->
header.header
	.logo
		a(href="#")
			<img src="img/logo.png" alt="loading">
	.header-in
		ul.main-nav
			li.drop-box
				a(href="#") Энциклопедия
				.drop-menu
					.drop-slider
						.drop-col
							strong
								a(href="#") Беременость
							ul
								li
									a(href="#") Подготовка к беременности
								li
									a(href="#") Календарь беременности
								li
									a(href="#") Тест на беременность
								li
									a(href="#") Что можно и что нельзя
								li
									a(href="#") Анализы и обследования
								li
									a(href="#") Ведение беремености
								li
									a(href="#") Изменения при беременности
								li
									a(href="#") Проблемы беременности
						.drop-col
							strong
								a(href="#") Роды
							ul
								li
									a(href="#") Подготовка к родам
								li
									a(href="#") Роды от «А» до «Я»
								li
									a(href="#") После родов
								li
									a(href="#") Видео родов
								li
									a(href="#") Вещи в роддом
						.drop-col
							strong
								a(href="") Дети
							ul                    
								li
									a(href="#") Новорожденные
								li
									a(href="#") Грудное вскармливание
								li
									a(href="#") Дети до 1 года
								li
									a(href="#") Дети от 3 до 6 лет
								li
									a(href="#") Воспитание детей
								li
									a(href="#") Детское здоровье
								li
									a(href="#") Искусственное вскармливание
								li
									a(href="#") Учим детей
						.drop-col
							strong
								a(href="#") Здоровье
							ul
								li
									a(href="#") Новорожденные
								li
									a(href="#") Грудное вскармливание
								li
									a(href="#") Дети до 1 года
								li
									a(href="#") Дети от 3 до 6 лет
								li
									a(href="#") Воспитание детей
								li
									a(href="#") Детское здоровье
								li
									a(href="#") Искусственное вскармливание
								li
									a(href="#") Учим детей
						.drop-col
							strong
								a(href="#") Беременость
							ul
								li
									a(href="#") Подготовка к беременности
								li
									a(href="#") Календарь беременности
								li
									a(href="#") Тест на беременность
								li
									a(href="#") Что можно и что нельзя
								li
									a(href="#") Анализы и обследования
								li
									a(href="#") Ведение беремености
								li
									a(href="#") Изменения при беременности
								li
									a(href="#") Проблемы беременности
						.drop-col
							strong
								a(href="#") Роды
							ul
								li
									a(href="#") Подготовка к родам
								li
									a(href="#") Роды от «А» до «Я»
								li
									a(href="#") После родов
								li
									a(href="#") Видео родов
								li
									a(href="#") Вещи в роддом
					.drop-nav
			li
				a(href="#") Общение
			li
				a(href="#") Сервисы
			li
				a(href="#") Фото
			li
				a(href="#") Видео
			li
				a(href="#") Консультация
		.head-rht
			a.srch-btn(href="#")
			a(href="#").cab-link Кабинет мамы
	button.collapse-btn#nav-icon
		span
		span
		span
		span
<!--/ header -->