.services_sidebar
	h6.title Наши сервисы:
	ul.list
		li(data-color="#5392d8")
			a(href="#")
				i.icon-map2
				span.info Дневнички малышей
		li(data-color="#ff6354")
			a(href="#")
				i.icon-calendar-check-o
				span.info Информеры беременности и ребенка
		li(data-color="#a670b0")
			a(href="#")
				i.icon-scale
				span.info Линеечки
		li(data-color="#2ead73")
			a(href="#")
				i.icon-plus-minus
				span.info Расчет пособий
		li(data-color="#f44d69")
			a(href="#")
				i.icon-letter-a-inside-a-circle
				span.info Подбор имени
		li(data-color="#627abc")
			a(href="#")
				i.icon-some-icon
				span.info Подбор роддома