.sidebar-main_encyclopedia
	.sidebar-main_encyclopedia_title
		h6.title Новое в энциклопедии
	.sidebar-main_encyclopedia_list
		.position
			.position_title
				a(href="#").link 365 идей, как полезно провести время с ребёнком в 1-ый год
			.position_text
				p.text Привет! У нас все идет своим чередом, пузико растет, иногда пинается, но как тузи. Всем пока пока.
			.position_info
				span.comment
					i.icon-chat_bubble_outline
					| 12
				span.views
					i.icon-visibility
					| 124567
				span.fav
					i.icon-heart-o
					| 12
		.position
			.position_title
				a(href="#").link 365 идей, как полезно провести время с ребёнком в 1-ый год
			.position_text
				p.text Привет! У нас все идет своим чередом, пузико растет, иногда пинается, но как тузи. Всем пока пока.
			.position_info
				span.comment
					i.icon-chat_bubble_outline
					| 12
				span.views
					i.icon-visibility
					| 124567
				span.fav
					i.icon-heart-o
					| 12
		.position
			.position_title
				a(href="#").link 365 идей, как полезно провести время с ребёнком в 1-ый год
			.position_text
				p.text Привет! У нас все идет своим чередом, пузико растет, иногда пинается, но как тузи. Всем пока пока.
			.position_info
				span.comment
					i.icon-chat_bubble_outline
					| 12
				span.views
					i.icon-visibility
					| 124567
				span.fav
					i.icon-heart-o
					| 12
		.position
			.position_title
				a(href="#").link 365 идей, как полезно провести время с ребёнком в 1-ый год
			.position_text
				p.text Привет! У нас все идет своим чередом, пузико растет, иногда пинается, но как тузи. Всем пока пока.
			.position_info
				span.comment
					i.icon-chat_bubble_outline
					| 12
				span.views
					i.icon-visibility
					| 124567
				span.fav
					i.icon-heart-o
					| 12