.sidebar-main_news
	.sidebar-main_news_title
		p.title Женские новости
		a(href="#").link Читать все
	.sidebar-main_news_list
		.position
			a.link(href="#") «Космополитичность» ребёнка Дмитрия Пескова
			img.img-responsive(src="img/aside-news.png", alt="loading")
			span.date 18.05.2018
			p.info Елизавета Пескова поделилась своими взглядами «космополита»
		.position
			a.link(href="#") «Космополитичность» ребёнка Дмитрия Пескова
			img.img-responsive(src="img/aside-news.png", alt="loading")
			span.date 18.05.2018
			p.info Елизавета Пескова поделилась своими взглядами «космополита»