.sidebar-main_home
	.position.teddy
		a(href="#")
			img.img-responsive(src="img/teddy.png", alt="loading")
			span.info Сделать домашней страницей
	.position.comments
		a(href="#")
			img.img-responsive(src="img/home-page-link.png", alt="loading")
			span.info Комментарии пользователей