.comments
	h3 Последние комметарии:
	.post
		.post-head
			.post-ava
				img(src="img/ava.png" alt="")
			.post-autor
				span Татьяна Бикитеева
				| 14 минут назад
		.post-name
			a(href="#") Не могу уложить ребёнка спать.. вторая строчка
		.post-body Елена, спасибо за ответ. Мои знакомые тоже чаще говорят, что дети приносят какие-то бланки из школы
	.post
		.post-head
			.post-ava
				img(src="img/ava.png" alt="")
			.post-autor
				span Татьяна Бикитеева
				| 14 минут назад
		.post-name
			a(href="#") Не могу уложить ребёнка спать.. вторая строчка
		.post-body Елена, спасибо за ответ. Мои знакомые тоже чаще говорят, что дети приносят какие-то бланки из школы
	.post
		.post-head
			.post-ava
				img(src="img/ava.png" alt="")
			.post-autor
				span Татьяна Бикитеева
				| 14 минут назад
		.post-name
			a(href="#") Не могу уложить ребёнка спать.. вторая строчка
		.post-body Елена, спасибо за ответ. Мои знакомые тоже чаще говорят, что дети приносят какие-то бланки из школы
	.post
		.post-head
			.post-ava
				img(src="img/ava.png" alt="")
			.post-autor
				span Татьяна Бикитеева
				| 14 минут назад
		.post-name
			a(href="#") Не могу уложить ребёнка спать.. вторая строчка
		.post-body Елена, спасибо за ответ. Мои знакомые тоже чаще говорят, что дети приносят какие-то бланки из школы