.sidebar-main_banner-sex
	img.img-responsive(src="img/banner-sex.png", alt="loading")
	.__text
		p.title займитесь любовью
			span.bold сегодня
		p.info и ждите малыша к:
		span.date
			i.icon-calendar-check-o
			| 9 ноября 2019