.sidebar-main_news-for-registr
  .line
  .sidebar-main_title
    h6.title Новости
  .sidebar-main_content
    img(src="img/sidebar-news.png")
    p.date  18.05.2018
    a.link(href="") Полезное и вкусное! Сбалансированный рацион на день
    p.date  18.05.2018
    a.link(href="") Долгая дорога к принятию себя после потери кормильца
    p.date  18.05.2018
    a.link(href="") Почему заржавела "нержавеющая" раковина
  .sidebar-main_show-more
    a.show-more(href="#") Показать все