.sidebar-main_fav
	.sidebar-main_fav_title
		h6.title Популярные сообщества
	.sidebar-main_fav_list
		.position
			.position_img
				img.img-responsive(src="img/sider-bar-fav.png", alt="loading")
			.position_info
				a.link(href="#") Долгая дорога к принятию себя после потери кормильца
				span.subscribers 440 подписчиков
		.position
			.position_img
				img.img-responsive(src="img/sider-bar-fav.png", alt="loading")
			.position_info
				a.link(href="#") Долгая дорога к принятию себя после потери кормильца
				span.subscribers 440 подписчиков
		.position
			.position_img
				img.img-responsive(src="img/sider-bar-fav.png", alt="loading")
			.position_info
				a.link(href="#") Долгая дорога к принятию себя после потери кормильца
				span.subscribers 440 подписчиков
		.position
			.position_img
				img.img-responsive(src="img/sider-bar-fav.png", alt="loading")
			.position_info
				a.link(href="#") Долгая дорога к принятию себя после потери кормильца
				span.subscribers 440 подписчиков
	.sidebar-main_fav_show-more
		a.show-more(href="#") Показать все