.sub-side-soc-links
	h6.title Мы в соц сетях:
	ul.list
		li(data-color="#")
			a(href="#").vk-color
				i.icon-vk
		li(data-color="#")
			a(href="#").fb-color
				i.icon-facebook
		li(data-color="#")
			a(href="#").ok-color
				i.icon-odnoklassniki
		li(data-color="#")
			a(href="#").g-plus-color
				i.icon-google-plus
		li(data-color="#")
			a(href="#").twitter-color
				i.icon-twitter