<!-- user-panel -->
.user-panel
	a(href="#").make-entry
		span Сделать запись
	ul
		li.li-1.alert
			a(href="#")
				span Уведомления
		li.li-2
			a(href="#")
				span Новости
		li.li-3.alert
			a(href="#")
				span Сообщения
		li.li-4
			a(href="#")
				span Мои сообщества
		li.li-5
			a(href="#")
				span Мой Блог
		li.li-6.alert
			a(href="#")
				span Друзья
		li.li-7
			a(href="#")
				span Дневнички
		li.li-8
			a(href="#")
				span Мои малыши
		li.li-9
			a(href="#")
				span Фотографии
		li.li-10
			a(href="#")
				span Видео
		li.li-11
			a(href="#")
				span Мои награды
		li.li-12
			a(href="#")
				span Линеечки
		li.li-13
			a(href="#")
				span Закладки
<!--/ user-panel -->