*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper-80p{
	width: 80%;
	margin: 0 auto;
}

/*HR - line */

	hr{
		height: 2px;
		width: 150px;
		background: #202070;
		margin: 20px auto 30px auto;
		border: none;
	}

/*Активная ссылка*/

	.active{
		background: #808080;
	}

/*****************************
			HEADER
*****************************/

/*HEADER*/

	header .wrapper-80p{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 20px;
		margin-top: 15px;
	}

		/*LEFT-LOGO*/

		/*CENTER-CONTACT*/

		header .center-contact{
			display: flex;
			align-items: center;
		}

		header .center-contact .block-right{
			font-size: .875em;
			line-height: 22px;
			margin-left: 20px;
		}

		/*CENTER-TIME*/

		header .center-time{
			display: flex;
			align-items: center;
		}

		header .center-time .block-right{
			font-size: .875em;
			line-height: 24px;
			margin-left: 20px;
		}

		/*RIGHT-BUTTON*/

		header .right-button a{
			text-decoration: none;
			padding: 10px 20px;
			font-size: 1.5em;
			color: #bababa;
			border: 2px solid #bababa;
		}

		header .right-button a:hover{
			background: #202070;
			border-color: #fff;
			color: #fff;
			transition: .9s;
		}

/*NAV*/

	nav{
		width: 100%;
		background: #202070;
		font-family: 'Oswald', sans-serif;
		z-index: 100;
	}

	nav>.wrapper-80p>ul{
		display: flex;
		justify-content: flex-start;
	}

	nav ul li{
		list-style-type: none;
	}
	
	nav ul li a{
		text-decoration: none;
		color: #fff;
		font-weight: 200;
		padding: 15px 30px;

		display: flex;
		align-items: center;
	}	

	nav ul li:hover{
		background: #808080;
	}

	nav ul li #arrow{
		margin-left: 10px;
	}


		/*SUBMENU*/

		#down-menu{
			position: relative;
			z-index: 1;
		}
		
		.submenu{
			display: none;
		}

		#submenu{
			display: flex;
			flex-direction: column;
			background: #808080;
			position: absolute;
			width: 17vw;
		}

		#down-menu:hover .submenu{
			display: block;
		}

		#submenu li:hover{
			background: #656565;
			transition: 0.5s;
			transform: 35deg;
		}

			/*ONE*/
			
			#one,
			#two,
			#three,
			#for,
			#five,
			#six{
				position: relative;
			}

			.submenu-under-1,
			.submenu-under-2,
			.submenu-under-3,
			.submenu-under-4,
			.submenu-under-5,
			.submenu-under-6{
				display: none;
				position: absolute;
				left: 17vw;
				top: 0;
			}

			#submenu-under-1,
			#submenu-under-2,
			#submenu-under-3,
			#submenu-under-4,
			#submenu-under-5,
			#submenu-under-6{
				display: flex;
				flex-direction: column;
				background: #808080;
				width: 22vw;
			}

			#submenu #one:hover .submenu-under-1,
			#submenu #two:hover .submenu-under-2,
			#submenu #three:hover .submenu-under-3,
			#submenu #for:hover .submenu-under-4,
			#submenu #five:hover .submenu-under-5,
			#submenu #six:hover .submenu-under-6{
				display: block;
			}

/*MOBILE-MENU*/
	
	#menu{
		display: flex;
		align-items: center;
	}

	#showMenu{
		display: inline;
		cursor: pointer;
	}

	#showMenu img{
		padding: 5px;
	}
	
	.menu-adaptiv{	
		display: flex;
	}
	
	#mobileMenu{
		display: none;
	}

	#mobileMenu ul li a{
		padding: 10px;
		margin-left: 10px;
	}
	
/*for NAV JQuery*/
	.fixed{					
		position: fixed;
		top: 0;
		opacity: 0.9;
	}
	.fixed:hover{
		opacity: 1;
		transition: 0.5s;
	}			

/*****************************
			MAIN
*****************************/

/*MAIN*/

	main{
		font-family: 'Oswald', sans-serif;
	}

/*SECTION.SEND-MESSAGE*/
	
	section.send-message{
		background: url(../images/section-send-message/bg.png) center/cover no-repeat;

		position: relative; /*function for form*/
	}

	section.send-message h1{
		font-size: 3.75em;
		color: #fff;
		line-height: 72px;
		font-weight: 300;
		text-align: center;

		margin: 0;
		padding: 180px 0;
	}

	section.send-message h3{
		font-size: 1.875em;
		color: #fff;
		font-weight: 300;
		text-align: center;
		padding-bottom: 80px;
	}

		/*FORM*/
		
		.form{
			display: flex;
			justify-content: center;
		}

		.form form{
			display: flex;
			justify-content: flex-start;

			position: absolute;
			bottom: -25px;
		}

		input[type=text]{
			position: relative;
			font-size: 1.5em;
			font-weight: 200;
			padding: 10px 0;
			outline: none;
			border: 2px solid #bababa;
		}

			/*LEFT*/

			#left input[type=text]{
				width: 20.1vw;
				padding-left: 45px;
				border-radius: 18px 0 0 18px;
			}

			form #left #avatar{
				position: absolute;
				top: 13px;
				left: 0.9vw;
			}

			/*CENTER*/

			form #center input[type=text]{
				width: 20vw;
				padding-left: 45px;
				border-left: none;
				border-right: none;
			}

			form #center #phone-call{
				position: absolute;
				top: 13px;
				left: 20.9vw;
			}

			/*RIGHT*/

			form #right input[type=text]{
				width: 27.5vw;
				padding-left: 45px;
				border-right: none;
			}

			form #right #car{
				position: absolute;
				top: 15px;
				left: 40.9vw;
			}

			/*BUTTON*/

			#button input[type="submit"]{
				width: 12.5vw;
				padding: 10px 0;
				text-transform: uppercase;
				color: #fff;
				background: #202070;
				border: 2px solid #bababa;
				font-size: 1.5em;
				font-weight: 300;
				border-radius: 0 18px 18px 0;
				outline: none;
				cursor: pointer;
			}

			#button input[type="submit"]:hover{
				background: #808080;
				transition: .5s;
			}

/*SECTION.SERVICES*/

	 section.services{
		background: url(../images/section-services/bg.png) center/cover no-repeat;
	 }

	 section.services h1{
		font-size: 2.25em;
		color: #fff;
		text-transform: uppercase;
		font-weight: 400;
		text-align: center;

	 	margin: 0;
	 	padding-top: 70px;
	 	padding-bottom: 30px;
	 }

	 section.services p{
	 	font-size: 1.5em;
	 	color: #fff;
	 	font-weight: 300;
	 	padding-top: 10px;
	 	padding-bottom: 25px;
	 }

		/*BLOCK-SERVICES-IMAGE*/

		section.services .block-services-images{
			display: flex;
			flex-direction: column;
		}

		section.services .block-services-images .block-top{
			display: flex;
			justify-content: space-between;
		}

		section.services .block-services-images .block-bottom{
			display: flex;
			justify-content: space-between;
		}

		section.services .block-services-images .all{
			text-align: center;
		}
		
		section.services .block-services-images a{
			text-decoration: none;
		}

		section.services .block-services-images a:hover img{
			filter: contrast(150%) brightness(0.5);
			transition: 0.4s;
		}

		section.services .block-services-images img{
			width: 25vw;
		}

/*SECTION.ABOUT-US*/

	section.about-us .wrapper-80p{
		display: flex;
		justify-content: space-around;
		margin-top: 50px;
		margin-bottom: 50px;
	}

		/*LEFT*/

		section.about-us .left{
			display: flex;
			flex-direction: column;
			width: 40vw;
		}

		section.about-us .left h1{
			font-size: 2.25em;
			font-weight: 300;
			text-align: center;

			margin: 0;
		}

		section.about-us .left #under-h1{
			font-size: 1.5em;
			font-weight: 200;
			color: #808080;
			text-align: center;
			margin-bottom: 45px;
		}
		
			/*ADVANTAGES*/
	
			section.about-us .left .advantages{
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
			}

			section.about-us .left .advantages .all{
				display: flex;
				align-items: center;
				margin-bottom: 15px;
			}

			section.about-us .left .advantages .all p{
				font-size: 1.125em;
				font-weight: 200;
				color: #808080;				
				padding-left: 15px;
			}

		/*RIGHT*/

		section.about-us .right{
			width: 40vw;
			display: flex;
			justify-content: flex-end;
		}

		section.about-us .right img{
			width: 40vw;
		}

/*SECTION.SKILLS*/

	section.skills{
		background: #ebebeb;
	}

	section.skills h1{
		font-size: 2.25em;
		font-weight: 400;
		padding-top: 40px;
		text-align: center;
		text-transform: uppercase;
	}
	
		/*TWO-BLOCKS*/

		section.skills .wrapper-80p .two-blocks{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding-bottom: 50px;
			padding-top: 10px;
		}

			/*LEFT*/

			section.skills .two-blocks .left img{
				width: 37vw;
			}

			/*RIGHT*/

			section.skills .two-blocks .right .one{
				display: flex;
				flex-direction: column;
			}

			section.skills .two-blocks .right .one .bottom-block{
				display: flex;
				justify-content: space-between;
				font-size: 1.125em;
				color: #808080;
				font-weight: 300;
				padding-top: 13px;
				padding-bottom: 28px;
			}

			section.skills .two-blocks .right .one .last{
				padding-bottom: 0;
			}

				/*TOP-BLOCK*/

				section.skills .two-blocks .right .top-block{
					position: relative;
				}

				section.skills .two-blocks .right .top-block .under{
					background: #bababa;
					height: 10px;
					width: 38vw;
				}

				section.skills .two-blocks .right .top-block .over{
					background: #202070;
					height: 10px;
					position: absolute;
					top: 0;
					left: 0;
				}

				section.skills .two-blocks .right .top-block .over-98{
					width: 37.7vw;
				}

				section.skills .two-blocks .right .top-block .over-97{
					width: 37.3vw;
				}
				
				section.skills .two-blocks .right .top-block .over-96{
					width: 36.9vw;
				}

/*SECTION-FEEDBACK*/

	section.feedback{
		background: url(../images/section-feedback/bg.png) center/cover no-repeat;
	}

	section.feedback h1{
		font-size: 2.25em;
		color: #fff;
		font-weight: 400;
		text-align: center;
		
		padding-top: 40px;
		padding-bottom: 95px;
		margin: 0;
	}

		/*FEEDBACK-BLOCK*/
		
		section.feedback .feedback-block{
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			flex-wrap: nowrap;

			padding-bottom: 24px;
		}

			/*ARROW-LEFT, ARROW-RIGHT*/

			section.feedback .feedback-block .arrow-left, 
			section.feedback .feedback-block .arrow-right{
				display: flex;
				align-items: center;
			}

			/*CENTER*/

			section.feedback .feedback-block .center{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				width: 71.4vw;
			}
				
				/*ALL*/

				section.feedback .feedback-block .all{
					position: relative;
					width: 22.7vw;
					background: #fff;
					height: 400px;
					border: 2px solid #bababa;
					color: #808080;
				}
				
				section.feedback .feedback-block .all img{
					position: absolute;
					width: 7.7vw;
					top: -51px;
					left: 7.5vw;
				}

				section.feedback .feedback-block .text{
					height: 230px;
				}

				section.feedback .feedback-block .all h3{
					font-size: 1.125em;
					font-weight: 400;
					text-align: center;
					
					padding-top: 75px;
					padding-bottom: 15px;
					margin: 0;
				}

				section.feedback .feedback-block .all .proffesion{
					font-size: 0.875em;
					font-weight: 400;
					text-align: center;

					padding-bottom: 30px;
				}

				section.feedback .feedback-block .all .comment{
					font-size: 0.875em;
					font-weight: 300;
					text-align: justify;
					line-height: 18px;

					padding: 0 15px;
				}

/*****************************
			FOOTER
*****************************/

/*FOOTER*/

	footer{
		font-family: 'Oswald', sans-serif;
		
		padding-top: 50px;
	}

	footer .wrapper-80{
		display: flex;
		flex-direction: column;
	}

	footer .all{
		width: 22vw;
	}

		/*TOP*/

		footer .wrapper-80p #top{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 45px;
		}

			/*LEFT*/

			/*CENTER*/

			footer .center{
				text-align: center;
			}

			footer .center .top h1{
				font-size: 1.125em;
				font-weight: 400;
				text-transform: uppercase;
				
				padding-bottom: 15px;
				margin: 0;
			}

			footer .center .bottom a{
				margin-right: 20px;
			}

			footer .center .bottom a:last-child{
				margin-right: 0;
			}

			footer .center .bottom a:hover{
				opacity: .6;
				transition: .5s;
			}

			/*RIGHT*/

			footer .right{
				display: flex;
				justify-content: flex-end;
			}
			
			footer .right a{
				border: 2px solid #000;
				padding: 13px 50px;
				font-size: 1.5em;
				text-transform: uppercase;
				text-decoration: none;
				color: #000;
			}

			footer .right a:hover{
				background: #202070;
				border-color: #fff;
				color: #fff;
				transition: .9s;
			}

		/*BOTTOM*/
		
		footer .copyright{
			font-size: 0.75em;
			font-weight: 300;
			color: #bababa;
			background: #000;
			letter-spacing: 0.5px;

			padding: 3px 0;
		}

		
		.feedback-call{
			display: none;
		}