@media (max-width: 1024px){

/*****************************
			HEADER
*****************************/

/*HEADER*/
	header .center-time .block-right,
	header .center-contact .block-right{
		line-height: 20px;
	}

	header .right-button{
		display: none;
	}

/*NAV*/

	nav #submenu{
		width: 23vw;
	}

	.submenu-under-1,
	.submenu-under-2,
	.submenu-under-3,
	.submenu-under-4,
	.submenu-under-5,
	.submenu-under-6{
		left: 23vw;
	}

	#submenu-under-1,
	#submenu-under-2,
	#submenu-under-3,
	#submenu-under-4,
	#submenu-under-5,
	#submenu-under-6{
		width: 29vw;
	}

/*****************************
			MAIN
*****************************/

/*SECTION.ABOUT-US*/

	section.about-us .left h1{
		font-size: 1.75em;
	}

	section.about-us .left #under-h1{
		font-size: 1.2em;
		margin-bottom: 20px;
	}

	hr.changes-in-media{
		height: 2px;
		width: 150px;
		background: #202070;
		margin: 15px auto 20px auto;
		border: none;
	}

		/*ADVANTAGES*/

		section.about-us .left .advantages .none-in-media{
			display: none;
		}
	
/*SECTION.SKILLS*/

	section.skills .two-blocks .right .top-block .under{
		height: 5px;
	}

	section.skills .two-blocks .right .top-block .over{
		height: 5px;
	}
	
	section.skills .two-blocks .right .one .bottom-block{
		font-size: 1.05em;
		padding-top: 10px;
		padding-bottom: 20px;
	}

/*SECTION.FEEDBACK*/

	section.feedback .feedback-block .all img{
		height: 11vh;
		top: -5.5vh;
	}

	section.feedback .feedback-block .center .text{
		overflow: scroll;
	}


/*****************************
			FOOTER
*****************************/
	
/*FOOTER*/

	footer .center .bottom a{
		margin-right: 10px;
	}

	footer .right a{
		font-size: 1.5em;
		text-align: center;
		padding: 13px 19px;
	}


}