@media (min-width: 769px){

	#showMenu{
		display: none;
		visibility: hidden;
	}

}

@media (max-width: 768px){

	/*****************************
				HEADER
	*****************************/

		#hideMenu{
			display: none;
			visibility: hidden;
		}

		header .center-contact{
			display: none;
		}

	/*****************************
				MAIN
	*****************************/

	/*SECTION.SEND-MESSAGE*/

		section.send-message h1{
			font-size: 2.5em;
			font-weight: 400;
			padding: 100px 0;
		}

	/*SECTION.SEND-MESSAGE FORM*/

		input[type=text]{
			font-size: 1em;
		}

		#button input[type="submit"]{
			font-size: 1em;
		}

		form #center #phone-call,
		form #left #avatar,
		form #right #car{
			top: 10px;
		}

	/*SECTION.ABOUT-US*/

		section.about-us .visible-none{
			display: none;
		}

	/*SECTION.SKILLS*/

		section.skills .two-blocks .left img{
			display: none;
		}

		section.skills .two-blocks .right .top-block .under{
			width: 80vw;
		}

		section.skills .two-blocks .right .top-block .over-98{
			width: 79vw;
		}

		section.skills .two-blocks .right .top-block .over-97{
			width: 78.5vw;
		}
		
		section.skills .two-blocks .right .top-block .over-96{
			width: 78vw;
		}

	/*SECTION.FEEDBACK*/

		section.feedback .feedback-block .all img{
			position: absolute;
			width: 80px;
			height: 80px;
			top: -40px;
			left: 6vw;
		}

	/*****************************
				FOOTER
	*****************************/	

	/*FOOTER*/

		footer #top .left img{
			display: none;
		}

		footer .all{
			width: 40vw;
		}
		
		footer .center{
			text-align: center;
		}

		footer .center .bottom a{
			margin-right: 5px;
		}

		footer .right{
			margin: 5vw;
		}

		footer{
			padding-top: 0;
		}
		
		footer .wrapper-80p #top{
			padding-bottom: 0;
		}

}