@media (max-width: 375px){

	.wrapper-80p{
		width: 100%;
	}

	/*****************************
				HEADER
	*****************************/

	header .center-time{
		display: none;
	}

	header .wrapper-80p{
		justify-content: center;
	}

	/*****************************
				MAIN
	*****************************/

	#showMenu img{
		padding: 5px 15px;
	}

	/*SECTION.SEND-MESSAGE*/

		section.send-message h1{
			font-size: 2em;
			line-height: 40px;
			font-weight: 400;
			padding: 70px 0;
		}

		section.send-message h3{
			font-size: 1.2em;
			padding-bottom: 40px;
		}

	/*SECTION.SEND-MESSAGE FORM*/

		input[type=text]{
			font-size: 1em;
		}

		#left input[type=text],
		form #center input[type=text],
		form #right input[type=text]{
			padding-left: 5px;
		}

		#left input[type=text],
		form #right input[type=text],
		form #center input[type=text],
		#button input[type="submit"]{
			width: 24.5vw;
		}
	
		#button input[type="submit"]{
			font-size: 1em;
		}

		form #center #phone-call,
		form #left #avatar,
		form #right #car{
			display: none;
		}

	/*SECTION.SERVICES*/

		section.services h1{
			font-size: 1.8em;
		}

		section.services p{
			font-size: 1em;
		}

		section.services .block-services-images{
			padding: 0 1vw;
		}

	/*SECTION.ABOUT-US*/

		section.about-us .visible-none{
			display: block;
		}
		
		section.about-us .left #under-h1,
		section.about-us .left .advantages .all p{
			font-size: 1em;
		}

		section.about-us .right{
			display: none;
		}

		section.about-us .wrapper-80p{
			margin: 30px 0;
		}

		section.about-us .left{
			width: 98vw;
		}

		section.about-us .left h1{
			font-size: 1.5em;
		}

		section.about-us .left .advantages img{
			height: 25px;
			width: 25px;
		}

	/*SECTION.SKILLS*/
		
		section.skills .wrapper-80p{
			width: 98vw;
		}
		
	/*SECTION.FEEDBACK*/

		section.feedback h1{
			font-size: 1.5em;

			padding-top: 40px;
			padding-bottom: 70px;
		}

		section.feedback .feedback-block .all img{
			position: absolute;
			width: 80px;
			height: 80px;
			top: -40px;
			left: 24vw;
		}

		section.feedback .feedback-block .two{
			width: 80vw;
		}

		section.feedback .feedback-block .one,
		section.feedback .feedback-block .three{
			display: none;
		}

		section.feedback .feedback-block .arrow-left, 
		section.feedback .feedback-block .arrow-right{
			margin: 0 1vw;
		}

	/*****************************
				FOOTER
	*****************************/	
		
		footer{
			padding-top: 10px;
		}

		footer .wrapper-80p #top{
			padding-bottom: 10px;
			margin-left: 20px;
		}

		footer .bottom{
			width: 80vw;
			margin-left: -10vw;
		}
		
		footer .center{
			text-align: left;
		}

		footer .center .bottom a{
			margin-right: 5px;
		}

		footer .right{
			display: none;
		}

		.feedback-call{
			display: block;
			margin-right: 10px;
		}

		footer .center .top h1{
			display: none;
		}

		footer .copyright{
			padding-left: 1vw;
		}
}


