// ========== >= 1650px ==========
@media screen and (max-width:1650px) {
  .main {

    // portfolio
    .portfolio {
      &__block {
        width: 30%;
        margin-right: 5%;

        &:nth-child(4n) {
          margin-right: 5%;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }

}

// ========== >= 1500px ==========
@media screen and (max-width:1500px) {

  /* main */
  .main {
    .portfolio__info {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  /* --main-- */
}

// ========== >= 1200px ==========
@media screen and (max-width:1200px) {

  /* global */

  h5.title {
    line-height: 20px;
  }

  /* --global-- */

  /* main */

  .main {

    /* home */
    .home {
      &__title {
        font-size: 50px;
      }
    }

    /* --home-- */

    /* about-me */
    .about-me {
      .container {
        padding-right: 40px;
      }

      &__profile-text {
        max-width: 100%;
        width: 100%;
      }

      .cv__content {
        width: 45%;

        &+.cv__content {
          margin-left: 10%;
        }
      }

      .skills__block {
        line-height: 16px;
      }
    }

    /* --about-me-- */


    /* portfolio */
    .portfolio {
      &__block {
        width: 45%;
        margin-right: 10%;

        &:nth-child(4n) {
          margin-right: 0;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }

        &:nth-child(2n+1) {
          margin-right: 10%;
        }
      }

      .tabs-nav {
        padding: 0 40px 0 70px;

        &__item {
          padding: 10px;

          &+.tabs-nav__item {
            margin-left: 10px;
          }
        }
      }
    }

    /* --portfolio-- */

  }

  /* --main-- */

}

// ========== >= 1024px ==========
@media screen and (max-width:1024px) {

  /* media-header */
  .media-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 43px;
    background: #ffffff;
    z-index: 1000;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.4);

    &__btn {
      position: absolute;
      top: 10px;
      right: 15px;
      width: 30px;
      height: auto;
    }

    &__btn span {
      position: absolute;
      left: 0;
      top: 10px;
      height: 3px;
      width: 30px;
      background: #000;
      transition: all .5s;

      &::after,
      &::before {
        content: '';
        position: absolute;
        left: 0;
        height: 3px;
        width: 30px;
        background: #000;
        transition: all .5s;
      }

      &::after {
        top: -7px;
      }

      &::before {
        top: 7px;
      }
    }

    &__btn_active span {
      transform: rotate(45deg);

      &::after {
        top: 0;
        transform: rotate(-90deg);
      }

      &::before {
        top: 0;
      }
    }
  }

  .media-header_active {
    left: 0% !important;
  }

  .media-section_active {
    width: 100%;
    margin-left: 0;
  }

  /* --mobile-header-- */

  /* global */
  .section {
    width: 100%;
    margin-left: 0;
  }

  .header {
    z-index: 999;
    left: -350px;
    transition: all .5s;
    padding-top: 20px;
  }

  /* --global-- */

  /* main */

  .main {

    /* portfolio */
    .portfolio {

      &__blocks {
        padding-left: 40px;
        padding-right: 40px;
      }

      .tabs {
        .tab {
          transform: scale(0) skew(0deg, 0deg);

          &.is-active {
            transform: scale(1) skew(0deg, 0deg);
          }
        }
      }

      &__block {
        width: 30%;
        margin-right: 5%;

        &:nth-child(2n) {
          margin-right: 5%;
        }

        &:nth-child(2n+1) {
          margin-right: 5%;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }

    /* --portfolio-- */

  }

  /* --main-- */
}

// ========== >= 950px ==========
@media screen and (max-width:950px) {
  /* main */

  .main {

    /* portfolio */
    .portfolio {
      &__block {
        width: 45%;
        margin-right: 10%;

        &:nth-child(2n) {
          margin-right: 0%;
        }

        &:nth-child(2n+1) {
          margin-right: 10% !important;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }

    /* --portfolio-- */

  }

  /* --main-- */
}

// ========== >= 768px ==========
@media screen and (max-width:768px) {

  /* main */
  .main {

    /* home */
    .home {
      &__title {
        font-size: 44px;
      }
    }

    /* --home-- */

    /* portfolio */
    .portfolio {
      .tabs-nav__item {
        font-size: 12px;
      }
    }

    /* --portfolio-- */
  }

  /* --main-- */
}

// ========== >= 690px ==========
@media screen and (max-width:690px) {

  /* main */
  .main {

    /* portfolio */
    .portfolio {
      &__info-title {
        font-size: 18px;
      }

      &__info-describe {
        font-size: 10px;
      }

      &__sait-link {
        font-size: 10px;
        margin-top: 10px;
      }
    }

    /* --portfolio-- */
  }

  /* --main-- */
}


// ========== >= 600px ==========
@media screen and (max-width:600px) {
  /* main */

  .main {

    /* portfolio */
    .portfolio {
      top: -4000px;

      &.is-active {
        top: 0;
      }

      &__blocks {
        justify-content: center;
      }

      &__block {
        width: 360px;
        margin-right: 0%;

        &:nth-child(2n) {
          margin-right: 0%;
        }

        &:nth-child(2n+1) {
          margin-right: 0% !important;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }

      &__info-title {
        font-size: 22px;
      }

      &__info-describe {
        font-size: 12px;
      }

      &__sait-link {
        font-size: 12px;
        margin-top: 15px;
      }
    }

    /* --portfolio-- */

  }

  /* --main-- */
}

// ========== >= 550px ==========
@media screen and (max-width:550px) {
  /* main */

  .main {

    /* home */
    .home {
      &__title {
        font-size: 38px;
      }
    }

    /* --home-- */

    /* about-me */
    .about-me {
      .cv {
        flex-wrap: wrap;
      }

      .cv__content {
        width: 100%;

        &+.cv__content {
          margin-left: 0;
        }
      }

      .skills__block {
        flex-wrap: wrap;

        .skill {
          margin-bottom: 25px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    /* --about-me-- */

    /* portfolio */
    .portfolio {
      .tabs-nav {
        padding: 0 20px 0 20px;
      }
    }

    /* --portfolio-- */

    /* --main-- */
  }
}

// ========== >= 475px ==========
@media screen and (max-width:475px) {

  /* main */
  .main {

    /* home */
    .home {
      &__title {
        font-size: 30px;
      }
    }

    /* --home-- */

    /* portfolio */
    .portfolio {
      .tabs__nav {
        flex-wrap: wrap;
        margin-bottom: 25px;
      }
    }

    /* --portfolio-- */

  }

  /* --main-- */

}

// ========== >= 475px ==========
@media screen and (max-width:375px) {

  /* header */
  .header {
    left: -320px;
    width: 320px;
  }

  /* --header-- */

  /* main */
  .main {

    /* home */
    .home {
      &__title {
        font-size: 26px;
      }
    }

    /* --home-- */

    /* about-me */
    .about-me {
      .container {
        padding-right: 20px;
        padding-left: 20px;
      }
    }

    /* --about-me-- */

    /* portfolio */
    .portfolio {
      .tabs__nav {
        flex-wrap: wrap;
        margin-bottom: 25px;
        margin-top: 5px;
      }

      &__info-title {
        font-size: 18px;
      }

      &__info-describe {
        font-size: 10px;
      }

      &__sait-link {
        margin-top: 10px;
      }

      &__info {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    /* --portfolio-- */

  }

  /* --main-- */
}

/* PRINT */
@media print {
  
}