/* спецификация */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slick-next:before {

}

.wrapper {
    margin: 0 auto;
    width: 1170px;
}

@media (max-width: 1000px) {
    .wrapper {
        width: 100%;
    }
}

/* HEADER */

header {
    background: url("../images/bg-header.png") center/cover no-repeat;
    padding-bottom: 250px;
}

header .nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 278px;
}

/* left logo */

header .nav .left {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

header .nav .left span {
    font-family: 'Raleway';
    font-size: 34px;
    color: #ffffff;
    margin-left: 3px;
    font-weight: 200;
    letter-spacing: -0.02em;
}

/* right menu */

header .right {
    display: flex;
}

/* nav */

header nav ul {
    display: flex;
    padding-top: 59px;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 300;
    margin-right: 30px;
}

header nav ul li a:hover {
    color: #c7b299;
    transition: .2s;
}

header nav ul li:last-child {
    margin-right: 33px;
}

/* icons */

header .icons {
    margin-top: 55px;
}

header .icons img:hover {
    cursor: pointer;
}

header .icons .bag {
    margin-right: 24px;
}

/* slaider */

section.header .my-slaider {
    position: relative;
}

section.header .my-slaider .block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.header .my-slaider .block h2 {
    font-size: 36px;
    font-family: 'Raleway';
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 4px;
}

section.header .my-slaider .block h3 {
    font-size: 52px;
    font-family: 'Raleway';
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 13px;
}

section.header .my-slaider .block p {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 300;
    line-height: 24px;
    color: #ffffff;
    width: 590px;
    text-align: center;
    margin-bottom: 40px;
}

section.header .my-slaider .block .button {
    margin-bottom: 20px;
}

section.header .my-slaider .block .button a {
    font-size: 14px;
    font-family: 'Raleway';
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    padding: 15px 38px 10px 38px;
    background: #998675;
    border-radius: 3px;
    box-shadow: 0px 3px 0px 0px #736357;
}

section.header .my-slaider .block .button:hover a {
    background: #99775c;
    transition: .3s;
}

    /* slider arrows */

section.header .prev,
section.header .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

section.header .next {
    right: 0;
}

    /* slider dots */

.my-slaider .slick-dots {
    bottom: -250px;
}

.slick-slide {
    outline: none;
}

.my-slaider .slick-dots li button:before {
    content: '';
    opacity: .5;
    border-radius: 100%;
    width: 11px;
    height: 11px;
    background: #fff;
    transition: background .3s;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.my-slaider .slick-dots li.slick-active button:before {
    width: 15px;
    height: 15px;
    background: transparent;
    border: 2px solid #d3c1ad;
    opacity: 1;
    margin-top: -2px;
    margin-left: -1px;
    transition: background .3s;
}


/* MAIN */

/* section services */

section.services .wrapper {
    display: flex;
    text-align: center;
}

/* service-block */

.service-block {
    width: 25%;
    margin-top: 80px;
    cursor: pointer;
}

.service-block .icon {
    height: 50px;
    width: 100%;
    margin-bottom: 24px;
}

.service-block .title {
    font-size: 22px;
    color: #555555;
    font-family: 'Raleway';
    font-weight: 700;
    margin-bottom: 11px;
}

.service-block .title-text {
    font-size: 14px;
    color: #8c8c8c;
    font-family: 'Montserrat';
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 26px;
}

.service-block .underline {
    width: 70px;
    height: 3px;
    background: #f1eee9;
    margin: 0 auto;
    margin-bottom: 80px;
}

.service-block .pen {
    background: url("../images/service-pen.png") center no-repeat;
}

.service-block .town {
    background: url("../images/service-town.png") center no-repeat;
}

.service-block .setting {
    background: url("../images/service-setting.png") center no-repeat;
}

.service-block .bag {
    background: url("../images/service-bag.png") center no-repeat;
}

/* service-block:hover */

.service-block:hover .title {
    color: #c7b299;
}

.service-block:hover .underline {
    background: #c7b299;
}

.service-block:hover .pen {
    background: url("../images/service-pen-hover.png") center no-repeat;
}

.service-block:hover .town {
    background: url("../images/service-town-hover.png") center no-repeat;
}

.service-block:hover .setting {
    background: url("../images/service-setting-hover.png") center no-repeat;
}

.service-block:hover .bag {
    background: url("../images/service-bag-hover.png") center no-repeat;
}

/* section describe */

section.describe {
    background: #fbfaf8;
}

section.describe .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.describe h2 {
    font-size: 30px;
    font-family: 'Raleway';
    font-weight: 700;
    margin-top: 77px;
    color: #555555;
}

section.describe img {
    display: block;
    margin-top: 32px;
    width: 100%;
}

section.describe p {
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
    font-family: 'Montserrat';
    font-weight: 300;
    margin-top: 16px;
    text-align: center;
    padding: 0px 200px;
}

/* section theme */

section.theme {
    background: url("../images/bg-theme.png") center/cover no-repeat;
}

section.theme .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* left */

section.theme .left h2 {
    font-size: 28px;
    font-family: 'Raleway';
    font-weight: 400;
    color: #ffffff;
    margin-top: 43px;
}

section.theme .left h2 > span {
    color: #c7b299;
}

section.theme .left p {
    font-size: 18px;
    color: #615855;
    font-family: 'Montserrat';
    font-weight: 300;
    margin-top: 3px;
    margin-bottom: 50px;
}

/* right */

section.theme a {
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 23px;
    font-family: 'Raleway';
    font-weight: 700;
    background: #998675;
    padding: 15px 28px 14px 28px;
    border-radius: 3px;
    box-shadow: 0px 3px 0px 0px #736357;
}

section.theme a:hover {
    background: #99775c;
    transition: .3s;
}

/* section projects */

section.projects {
    margin-bottom: 80px;
}

section.projects .wrapper > h2 {
    font-size: 30px;
    color: #555555;
    font-family: 'Raleway';
    font-weight: 700;
    text-align: center;
    margin-top: 75px;
}

section.projects .wrapper > p {
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
    font-family: 'Montserrat';
    font-weight: 300;
    text-align: center;
    padding: 0px 200px;
    margin-top: 16px;
    margin-bottom: 42px;
}

section.projects .button {
    display: flex;
    justify-content: center;
}

section.projects .button > a {
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 23px;
    font-family: 'Raleway';
    font-weight: 700;
    background: #998675;
    padding: 15px 28px 14px 28px;
    border-radius: 3px;
    box-shadow: 0px 3px 0px 0px #736357;
}

section.projects .button > a:hover {
    background: #99775c;
    transition: .3s;
}

/* menu */

section.projects ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

section.projects ul li {
    padding: 0px 5px;
    margin-bottom: 46px;
}

section.projects ul li a {
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 300;
    line-height: 21px;
    color: #8c8c8c;
    text-decoration: none;
    padding: 8px 26px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
}

section.projects ul li a:hover {
    background: #998675;
    color: #ffffff;
    border: 1px solid transparent;
    transition: .3s;
}

/* works */

section.projects .works {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 22px;
}

section.projects .block:nth-child(1),
section.projects .block:nth-child(4) {
    padding-left: 0px;
}

section.projects .block:nth-child(3),
section.projects .block:nth-child(6) {
    padding-right: 0px;
}

section.projects .block {
    padding: 0px 15px;
    margin-bottom: 30px;
    position: relative;
}

/* works element link and search*/

section.projects .works .img-block {
    width: 25px;
    height: 25px;
}

section.projects .works .hover-images {
    position: absolute;
    top: 106px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

section.projects .works .link {
    background: url("../images/project-link.png") center/cover no-repeat;
    margin-right: 30px;
}


section.projects .works .search {
    background: url("../images/project-search.png") center/cover no-repeat;
}

/* under */

section.projects .under {
    padding: 30px;
}

section.projects .under h1 {
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: 400;
    color: #c7b299;
    margin-bottom: 8px;
}

section.projects .under p {
    font-size: 14px;
    font-family: 'Raleway';
    font-weight: 300;
    color: #d1d1d1;
}

/* under arrow */

section.projects .under {
    position: relative;
    background: #fbfaf8;
    margin-top: -4px;
}

section.projects .under:after, section.projects .under:before {
    bottom: 100%;
    left: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

section.projects .under:before {
    border-bottom-color: #fbfaf8;
    border-width: 14px;
    border-bottom-width: 10px;
}

/* works hover */

section.projects .block:hover {
    cursor: pointer;
}

section.projects .block:hover > img {
    filter: brightness(30%);
    transition: .2s;
}

section.projects .block:hover .hover-images {
    display: flex;
    transition: .2s;
}

section.projects .block .hover-images .link:hover {
    background: url("../images/project-link-hover.png") center/cover no-repeat;
    transition: .2s;
}

section.projects .block .hover-images .search:hover {
    background: url("../images/project-search-hover.png") center/cover no-repeat;
    transition: .2s;
}

section.projects .works .block:hover h2 {
    color: #ffffff;
}

section.projects .works .block:hover p {
    transition: .2s;
    color: #c7b299;
}

section.projects .block:hover .under {
    background: #362f2d;
}

section.projects .block:hover .under:before {
    border-bottom-color: #362f2d;
    transition: .2s;
}

/* section video */

section.video {
    background: url("../images/section-video.png") center/cover no-repeat;
}

section.video .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.video img {
    margin-top: 210px;
    margin-bottom: 40px;
}

section.video h2 {
    font-size: 30px;
    font-family: 'Raleway';
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 20px;
}

section.video p.text {
    width: 560px;
    text-align: center;
    line-height: 28px;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 40px;
}

section.video p.time {
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #c7b299;
    margin-bottom: 204px;
}

/* section for mobile device */

section.for-mobile-device {
    background: url("../images/service-for_mobile-device.png") center/cover no-repeat;
}

section.for-mobile-device .wrapper {
    display: flex;
    justify-content: flex-end;
}

section.for-mobile-device .wrapper-660px {
    width: 660px;
}

section.for-mobile-device h2 {
    font-size: 30px;
    font-family: 'Raleway';
    font-weight: 700;
    color: #555555;
    padding-top: 195px;
    margin-bottom: 30px;
}

section.for-mobile-device p {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 300;
    color: #8c8c8c;
    line-height: 28px;
    margin-bottom: 30px;
}

section.for-mobile-device ul li {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 300;
    color: #8c8c8c;
    line-height: 32px;
    list-style: none;
    background: url(../images/ul.png) center left no-repeat;
    padding: 0px 0px 0px 51px;
}

section.for-mobile-device ul {
    padding-bottom: 174px;
    margin-left: 50px;
}

/* section statistic */

section.statistic {
    background: url("../images/bg-statistic.png") center/cover no-repeat;
}

section.statistic .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 130px 0 120px;
}

section.statistic .block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.statistic img {
    margin-top: 61px;
    margin-bottom: 30px;
}

section.statistic .block h2 {
    font-size: 48px;
    font-family: 'Montserrat';
    font-weight: 200;
    color: #ffffff;
    line-height: 36px;
    margin-bottom: 18px;
}

section.statistic .block p {
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 300;
    color: #c7b299;
    line-height: 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

section.statistic .underline {
    width: 30px;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

/* section posts */

section.posts {
    padding: 75px 0px 120px 0px;
}

section.posts h2 {
    font-size: 30px;
    font-family: 'Raleway';
    font-weight: 700;
    color: #555555;
    margin-bottom: 15px;
    text-align: center;
}

section.posts p {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 300;
    line-height: 28px;
    color: #8c8c8c;
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 760px;
    margin-bottom: 35px;
}

section.posts .center div {
    margin: 0 auto;
}

section.posts .block {
    background: #fff;
    width: 370px;
    position: relative;
}

section.posts .block .under-img {
    padding: 0px 40px 27px 30px;
    box-sizing: border-box;
    border: 1px solid #f8f8f8;
    border-top: none;
}

section.posts .block .under-img h2 {
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: 500;
    color: #555555;
    padding-top: 36px;
    margin-bottom: 13px;
    text-align: start;
}

section.posts .block .under-img p {
    width: 300px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    color: #8c8c8c;
    text-align: start;
}

section.posts .link a {
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #c7b299;
    line-height: 20px;
    text-decoration: none;
}

section.posts .link a img {
    display: inline-block;
    margin-left: 7px;
}

section.posts .data {
    position: absolute;
    top: 20px;
    left: 20px;
}

section.posts .data .top-block {
    font-size: 24px;
    line-height: 20px;
    font-family: 'Montserrat';
    font-weight: 300;
    color: #ffffff;
    background: #363636;
    padding: 12px 9px;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
}

section.posts .data .bottom-block {
    font-size: 12px;
    line-height: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #ffffff;
    background: #252525;
    padding: 7px 14px;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
}

    /* center block hover */

section.posts .block:hover .data{
    z-index: 1;
}

section.posts .block:hover .data .top-block {
    background: #c7b299;
}

section.posts .block:hover .data .bottom-block {
    background: #a48d72;
}

section.posts .block:hover>img {
    filter: brightness(50%);
    transition: .2s;
}

section.posts .block:hover .under-img {
    background: #362f2d;
    border-color: #362f2d;
    transition: .2s;
}

section.posts .block:hover .under-img h2 {
    color: #c7b299;
}

section.posts .block:hover .under-img p {
    color: #ffffff;
}

    /* slaider posts */

        /* slider arrows */

section.posts .prev,
section.posts .next {
    position: absolute;
    bottom: -40px;
    z-index: 1;
    cursor: pointer;
}

section.posts .prev {
    width: 22px;
    height: 22px;
    background: url("../images/slaider-arrow-posts-left.png") center/cover no-repeat;
    left: 47.7%;
    transform: translateX(-47.7%);
}

section.posts .next {
    width: 22px;
    height: 22px;
    background: url("../images/slaider-arrow-posts-right.png") center/cover no-repeat;
    right: 47.7%;
    transform: translateX(-47.7%);
}

section.posts .next:hover {
    transition: .1s;
    background: url("../images/slaider-arrow-posts-right-hover.png") center/cover no-repeat;
}

section.posts .prev:hover {
    transition: .1s;
    background: url("../images/slaider-arrow-posts-left-hover.png") center/cover no-repeat;
}


/* section sponsors */

section.sponsors {
    background: url("../images/section-sponsors.png") center/cover no-repeat;
    padding: 140px 0;
}

section.sponsors .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section.sponsors .wrapper .img-block {
    display: block;
}

/* FOOTER */

footer {
    background: #191919;
    padding: 80px 0 0 0;
}

footer .block {
    width: 270px;
}

footer .wrapper .top {
    display: flex;
    justify-content: space-between;
}

footer .footer-title {
    font-size: 24px;
    font-family: 'Raleway';
    font-weight: 700;
    color: #ffffff;
    margin-top: 28px;
}

footer .underline {
    height: 1px;
    width: 270px;
    background: #252525;
}

/* top */

/* block-left */

footer .block-left p {
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 300;
    color: #555555;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

/* logo */

footer .block-left .logo {
    display: flex;
    align-items: center;
}

footer .block-left .logo span {
    font-size: 34px;
    font-family: 'Raleway';
    font-weight: 400;
    color: #ffffff;
    letter-spacing: -0.04em;
}

/* link */

footer .block-left .link a {
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #d1d1d1;
    line-height: 20px;
    text-decoration: none;
}

footer .block-left .link a img {
    margin-left: 7px;
}

footer .block-left .link:hover a {
    border-bottom: 1px solid #d1d1d1;
    transition: .3s;
}

/* block-center-one */

footer .block-center-one {
    margin-bottom: 75px;
}

footer .block-center-one span {
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 300;
    line-height: 20px;
    color: #363636;
    margin-top: 3px;
}

footer .block-center-one p {
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 300;
    color: #555555;
    margin: 6px 0 21px 0;
}

footer .block-center-one span.center {
    color: #ffffff;
}

footer .block-center-one p.center {
    color: #c7b299;
}

footer .block-center-one .underline {
    margin-bottom: 15px;
}

/* block-center-two */

footer .block-center-two p {
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 300;
    color: #555555;
    margin-bottom: 8px;
}

footer .block-center-two span.time {
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 300;
    line-height: 20px;
    color: #363636;
}

footer .block-center-two .underline {
    margin-top: 19px;
    margin-bottom: 16px;
}

footer .block-center-two span.blue-text {
    color: #00bff3;
    cursor: pointer;
}

footer .block-center-two span.link {
    color: #959595;
    cursor: pointer;
}

/* block-right */

footer .block-right .block-img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .block-right .block-img img {
    margin-bottom: 10px;
    cursor: pointer;
}

footer .block-right h1 {
    margin-bottom: 25px;
}

/* bottom */

footer .bottom {
    background: #111111;
    padding: 40px 0 50px 0;
}

footer .bottom .wrapper {
    display: flex;
    justify-content: space-between;
}

footer .bottom ul {
    list-style-type: none;
}

footer .bottom ul li a {
    text-decoration: none;
    font-size: 13px;
    font-family: 'Montserrat';
    font-weight: 300;
    line-height: 20px;
    color: #555555;
}

footer .bottom span {
    color: #959595;
}


.bottom ul li {
    position: relative;
    padding: 0 12px;
}

.bottom ul li:after {
    content: '';
    height: 12px;
    width: 1px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #252525;
}

footer .bottom ul li:last-child:after {
    width: 0;
}

footer .bottom ul li:first-child {
    padding-left: 0px;
}

footer .bottom ul li a:hover {
    color: #c7b299;
}

footer .bottom ul li a:hover span {
    color: #c7b299;
}

/* left */

footer .bottom .left ul {
    display: flex;
}

/* right */


footer .bottom .right ul {
    display: flex;
}