.overlay_popup {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: .5; }
  .overlay_popup .popup {
    display: none;
    position: relative;
    z-index: 1000;
    margin: 0 25%;
    width: 50%;
    background: yellow; }
