@font-face {
  font-family: 'Norms Pro';
  src: url(../fonts/TTNormsPro-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Norms Pro';
  src: url(../fonts/TTNormsPro-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Norms Pro';
  src: url(../fonts/TTNormsPro-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Norms Pro';
  src: url(../fonts/TTNormsPro-Bold.ttf);
  font-weight: 700;
}
