* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Norms Pro';
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

.header-media {
  display: none;
}

.beef {
  position: absolute;
  bottom: 0;
  left: 70px;
}

.cutlet-img {
  width: 300px;
}