.carousel-container {
    display: block;
    width: 320px;
    height: 180px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.carousel-slides {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
}

.slide {
    position: absolute;
    top: 0;
}

.slide:nth-child(1) {
    left: 0;
}

.slide:nth-child(2) {
    left: 100%;
}

.slide:nth-child(3) {
    left: 200%;
}

.slide:nth-child(4) {
    left: 300%;
}

.slide:nth-child(5) {
    left: 400%;
}

.slide:nth-child(6) {
    left: 500%;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    position: absolute;
    top: 75px;
}

.btn {
    width: 30px;
    height: 30px;
    background-image: url('images/arrow.png');
    background-position: 0 0;
    background-size: cover;
}

.btn:nth-child(2) {
    transform: rotate(180deg);
}

.all{
                    position: relative;
                    width: 22.7vw;
                    background: #fff;
                    height: 400px;
                    border: 2px solid #bababa;
                    color: #808080;
                }
                
                .all img{
                    position: absolute;
                    width: 7.7vw;
                    top: -51px;
                    left: 7.5vw;
                }

                .text{
                    height: 230px;
                }

                .all h3{
                    font-size: 1.125em;
                    font-weight: 400;
                    text-align: center;
                    
                    padding-top: 75px;
                    padding-bottom: 15px;
                    margin: 0;
                }

                all .proffesion{
                    font-size: 0.875em;
                    font-weight: 400;
                    text-align: center;

                    padding-bottom: 30px;
                }

                .all .comment{
                    font-size: 0.875em;
                    font-weight: 300;
                    text-align: justify;
                    line-height: 18px;

                    padding: 0 15px;
                }